body {
    margin: 10px;
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: block;
}
.header {
    width: 100%;
    display: block;
    background-color: #ddd;
}
.header-title {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
   color: rgb(159, 117, 117);
   letter-spacing: 10px;
   text-shadow: 20px 10px rgb(213, 203, 203);
}
.img-logo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    gap: 30px;
}
.nav {
    flex: 1;
    padding: 30px;
    border-right:1px solid #ddd;
    align-items: left;
}
.nav li {
    margin-top: 60px;
    line-height: 60px;
    list-style-type: none;
    text-decoration: underline;
}
.article {
    flex: 4;
    width: 700px;
    padding: 20px;
}
.cards img{
    width: 100%;
    margin: 30px 00;
}
.sidebar {
    flex: 1;
    padding: 30px;
    width: 100%;
    border-left: 1px solid #ddd;
}
.sidebar ul {
    width: 100%;
    margin-top: 60px;
    line-height: 40px;
}
.article-title {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(80, 75, 75);
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px;
}

.article-para {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: rgb(80, 75, 75);
}

.btn {
    border: 1px solid rgb(94, 85, 85);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: rgb(94, 85, 85);
    font-weight: bolder;
    border-radius: 15px;
    background-color: white;
}

.btn:hover {
    background-color: black;
    color: #ddd;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-size: smaller;
    letter-spacing: 10px;
    font-weight: bolder;
}
.insta {
    color: rgb(159, 117, 117);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bolder;
}
